/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.blog-nav li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
  
}
.blog-nav li a {
    color: #fff;
}

header{
  border:none;
  margin:0;
  padding: 0;
}
header .search-pane{
  color: #fff;
  padding:5px 0 5px 0;
  margin:0;
  height: 45px;
  background: #ff6600;
}
header .search-pane .ikon{
  font-size:15pt;
}
header .search-pane .ikon a{
  float:right;
  color: #fff;
  padding: 0 7px 0 7px;
  cursor: pointer;
}
header .search-pane .ikon a:hover{
  color: #0cab4e;
  text-decoration: none;  
}
header .search-pane input[type=submit]{
  color:#000;
}
header .slider-pane{
  background: #0cab4e;
  padding:0;
  margin:0;
  /*border:solid 1px red;*/
  height: 100%;
}

/* For tablets & smart phones */
    @media (max-width: 767px) {
      header .slider-pane ul li {
        height: 100%;
      }
      header .slider-pane ul li img{
        height: 100%;
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      header .slider-pane ul li {
        height: 100%;
      }
      header .slider-pane ul li img{
        width: auto;
        height: 100%;
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      header .slider-pane ul li {
        height: 400px !important;
      }
      header .slider-pane ul li img{
        width: 100%;
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      header .slider-pane ul li {
        height: 400px !important;
      }
      header .slider-pane ul li img{
        width: 100%;
      }
    }

header .slider-pane ul{
  list-style: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  height: 400px;
  width: 100%;
}
header .slider-pane ul li {
  display: block;
  float: left;
  text-align: center;
  position: relative;
  height: 400px;
  overflow: hidden;
  width: 100%;
  /*height: 100%;*/
  /*border:solid 1px red;*/
}
header .slider-pane ul li img{
  width: 100%;
  /*height: 100%;*/
}
header .slider-pane ul li .sliderlabel{
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  background: #0cab4e;
  font-size: 17pt;
  color:#fff;
  padding: 10px 0 10px 0;
  z-index: 10000;
}

header .navbar{
  margin: 0;
  min-height: 90px;
  background: #1a476e;
  z-index: 1000;
  opacity: 0.9;
  border:none;
  color:white;

  position: absolute;
  left: 0;
  top:45px;
  right: 0;
  z-index: 10000;
}
header .navbar .navbar-header{
  min-height: 150px;
}
header .navbar .navbar-header .navbar-brand{
  /*min-height: 90px;*/
  /*line-height: 50px;*/
  width: 100%;
  /*border:solid 1px red;*/
  background: #1a476e;
  padding: 0;
}
header .navbar .navbar-header .navbar-brand .logo{
  height: 115px;
  width: auto;
  margin-top: -20px;
  /*margin-left: -10px;*/
}
header .navbar .navbar-header .navbar-brand span{
  padding: 0;
  margin:0;
  font-size: 13pt;
  line-height: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}
header .navbar .navbar-header .navbar-brand .a{
  display: block;
}
header .navbar .navbar-header .navbar-brand .b{
  display: block;
  font-size: 18pt;
  line-height: 30px;
}
header .navbar .navbar-header .navbar-brand .c{
  display: block;
}
header .navbar #navbar{
  /*min-height: 90px;*/
}
header .navbar #navbar ul{
  /*min-height: 90px;*/
}
header .navbar #navbar ul li{
  /*min-height: 90px;*/
}
header .navbar #navbar ul li.active a{
  color:#1a476e;
}
header .navbar #navbar ul li.open a{
  color:#1a476e;
}
header .navbar #navbar ul li  a{
  /*min-height: 90px;*/
  /*line-height: 50px;*/
  color:white;
}
header .navbar #navbar ul li  a:hover{
  color:#1a476e;
  background: white;
}
header .navbar #navbar ul li .dropdown-menu{
  /*min-height: 15px;*/
  left:0;
  right: auto;
}
header .navbar #navbar ul li .dropdown-menu li{
  /*min-height: 15px;*/
}
header .navbar #navbar ul li .dropdown-menu li a{
  /*min-height: 15px;
  line-height: 15px !important;*/
  color:white;
}
header .navbar #navbar ul li .dropdown-menu li a:hover{
  color:#1a476e;
}
header .navbar #navbar ul li .dropdown-menu li.divider{
    min-height: 1px !important;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

header .menus{
  position: absolute;
  padding: 0;
  margin:0;
  opacity: 0.9;
  height: 90px;
  background: #1a476e;
  top:45px;
  left:0;
  right:0;
  z-index: 10000;
}
header .menus .logo{
  width: 130px;
  margin-top: -10px;
}
header .menus .judul{
  text-align: center;
  color: #fff;
  padding:10px 0 10px 0;
}
header .menus .judul span{
  display: block;
  font-weight: bold;
}
header .menus .judul span:nth-of-type(2){
  font-size: 15pt;
}
header .menus .mmenu{
  position: relative;
  float:right;
}
header .menus .mmenu li a{
  color: #fff;
}
header .menus .mmenu li a:hover{
  text-decoration: none;
}
header .menus .mmenu li{
  display: block;
  float: right;
  color:#fff;
  padding: 0 10px 0 10px;
  cursor:pointer;
  height: 90px;
  line-height: 90px;
  font-size: 12pt;
}
header .menus .mmenu li:hover{
  background: #fff;
  color:#1a476e;
}
header .menus .mmenu li:hover > a{
  color:#1a476e;
}
header .menus .mmenu li:hover > .submenu{
  display: block;
}
header .menus .mmenu li .submenu{
  background: #fff;
  position: absolute;
  height: 150px;
  background: #fff;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  left:15px;
  right: 0;
  line-height: 10px;
  font-size: 9pt;
  border-radius: 0 0 10px 10px;
  display: none;
}
header .menus .mmenu li .submenu .kiri{
  width:30%;
  float:left;
}
header .menus .mmenu li .submenu .kiri a{
  display: block;
  font-size: 9pt;
  font-weight: bold;
  color:orange;
  line-height: 15px;
}
header .menus .mmenu li .submenu .kiri a:hover{
  text-decoration: underline;
}
header .menus .mmenu li .submenu .kiri p{
  color:#777;
}
header .menus .mmenu li .submenu .tengah{
  width:40%;
  float:left;
  text-align: center;
}
header .menus .mmenu li .submenu .tengah img{
  height: 100px;
  display: block;
}
header .menus .mmenu li .submenu .tengah a{
  display: inline-block;
  padding: 12px 0 0 0;
  color: #1a476e;
  transform: scaleY(1.5);
}
header .menus .mmenu li .submenu .tengah a:hover{
  text-decoration: underline;
}
header .menus .mmenu li .submenu .kanan{
  width:30%;
  float:left;
}
header .menus .mmenu li .submenu .kanan a{
  display: block;
  line-height: 17px;
  color: #1a476e;
  font-size: 10pt;
}
header .menus .mmenu li .submenu .kanan a:hover{
  text-decoration: underline;
}

footer{
  background: #1a476e;
  color:#fff;
  margin-top:20px;
}
footer a{
  color:#fff;
}
footer a:hover{
  color:#fff;
  text-decoration: underline;
}
footer .tiga{
  height: 20px;
  background: #02903e;
}
footer .hijau{
  background: #02903e; 
  height: 100%;
}

footer .satu{
  background: #004b91;
}
footer .satu ul{
  list-style: none;
  padding: 10px; margin: 20px 0 0 0;
  font-size:12pt;
  min-height: 170px;
}
footer .satu ul li{
  float:left;
  display: block;
  width: 130px;
  line-height: 30px;
}
footer .satu img{
  width: 150px;
  margin-top: 30px;
}
footer .satu span{
  display: block;
}
footer .satu .miring{
  padding: 5px;
  font-style: italic;
  transform: scaleY(1.5);
}
footer .satu .top{
  margin-top: 20px;
  margin-bottom: 5px;
}
footer .satu .col-md-2{
  padding: 0;
}

footer .dua .container .col-md-4{
  padding: 20px 0 10px 10px;
}
footer .dua span{
  display: block;
  font-weight: bold;
}
footer .dua .tebal{
  font-weight: bold;
}
footer .dua .khusus span:nth-of-type(1){
  margin-top: 10px;
}
footer .dua .khusus span:nth-of-type(2){
  font-size: 21pt;
  font-weight: bold;
  transform: scaleY(1.3);
}
footer .dua .khusus span:nth-of-type(3){
  margin-bottom: 20px;
}

footer .dicon1:before{
  font-family: "dashicons";
  content: "\f230";
  float:left;
  margin-right: 10px;
  height: 30px;
}
footer .dicon2:before{
  font-family: "dashicons";
  content: "\f525";
  float:left;
  margin-right: 10px;
  height: 15px;
}
footer .dicon3:before{
  font-family: "dashicons";
  content: "\f465";
  float:left;
  margin-right: 10px;
  height: 20px;
}
.dicon4:before{
  font-family: "dashicons";
  content: "\f522";
  float:left;
  margin-right: 10px;
  height: 20px;
}

.dicon-fb:before{
  font-family: "dashicons";
  content: "\f305";
}
.dicon-tw:before{
  font-family: "dashicons";
  content: "\f301";
}
.dicon-yu:before{
  font-family: "dashicons";
  content: "\f236";
}
.dicon-in:before{
  font-family: "dashicons";
  content: "\f306";
}

.dicon-back:before{
  font-family: "dashicons";
  content: "\f341";
}

.dicon-next:before{
  font-family: "dashicons";
  content: "\f345";
}

.container .bariskahiji{
  padding-top:40px;
  padding-bottom:40px;
}
.container .bariskahiji iframe{
  border:none;
  height: 230px;
}
.container .bariskahiji h4{
  font-size:18pt;
}
.container .bariskahiji span{
  display: block;
  padding: 5px;
}
.container .nextright a{
  float: right;
  padding-bottom: 10px;
  color: orange;
}

.container .bariskadua{
  background: #1a476e;
  color:#fff;
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  padding: 20px;
}
.container .bariskadua ul{
  margin:0;
  padding: 0;
  list-style: none;
}
.container .bariskadua h4{
  color: #fff;
  font-size:18pt;
}
.container .bariskadua ul li{
  display: block;
  float:left;
  margin-bottom: 20px;
}
.container .bariskadua ul li img{
  width:180px;
  float:left;
}
.container .bariskadua ul li .papatah{
  text-align: center;
  display: block;
  /*line-height: 30px;*/
  padding-top: 10px;
}
.container .bariskadua ul li .nunulis{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: block; 
}

.container .bariskatilu{
  padding: 0;
  margin-top:20px;
}
.container .bariskatilu h4{
  font-size:18pt;
}
.container .bariskatilu .backbiru{
  background: #1a476e;
  color: #fff;
}
.container .bariskatilu .backbiru h4{
  padding-top: 30px;
  color: #fff;
}
.container .bariskatilu .backbiru a{
  color: #fff;
}
.container .bariskatilu .backbiru .nextright a{
  color: orange;
  margin-bottom: 10px;
} 
.container .bariskatilu .backbiru a:hover{
  text-decoration: underline;
}
.container .bariskatilu .jarak{
  padding-top: 30px;
}
.container .bariskatilu .kagiatan{
  list-style: none;
  margin: 0;padding: 0;
  margin-top: 20px;
  margin-bottom: 50px;
}
.container .bariskatilu .kagiatan li{
  display: block;
  margin-bottom: 30px;
}
.container .bariskatilu .kagiatan li .waktos{
  display: block;
  width: 70px;
  height: 80px;
  margin: 0 10px 10px 0;
  background: #1a476e;
  padding: 10px;
  color:#fff;
  text-align: center;
  font-size: 17pt;
  font-weight: bold;
  float:left;
}
.container .bariskatilu .kagiatan li .nami{
  display: block;
  float:left;
  font-size:13pt;
  font-weight: bold;
  margin-bottom: 10px;
}
.container .bariskatilu .kagiatan li .kagiatan{
  
}
.container .bariskatilu .headline{
  display: block;
}
.container .bariskatilu .headline img{
  width: 220px;
  float:left;
  margin:0 10px 10px 0;
}
.container .bariskatilu .headline .judulna{
  font-weight: bold;
  display: block;
  font-size: 11pt;
}
.container .bariskatilu .headline .beritana{
  padding: 10px;
  display: block;
}
.container .bariskatilu .utama{
  list-style: none;
  padding:0 0 0 10px; margin: 0;
}
.container .bariskatilu .utama li{
  display: block;
}
.container .bariskatilu .utama li a{
  font-size:11pt;
  font-weight: bold;
}
.container .bariskatilu .potopoto{
  padding:0 0 0px 0;margin: 0 0 10px 0;
  list-style: none;
  overflow: hidden;
  height: 120px;
}
.container .bariskatilu .potopoto li{
  display: block;
  float: left;
  margin: 10px 20px 20px 0;
}
.container .bariskatilu .potopoto li img{
  width: 120px;
  height: 100px;
}

.row .sidemenu{
  list-style: none;
  width: 100%;
}
.row .sidemenu li{
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #eee;
}
.row .sidemenu li label{
  display: block;
  padding: 10px 0 10px 0;
  background: #02703e; 
  color:#fff;
  font-size: 12pt;
  margin:0;
  border-radius: 5px 5px 0 0;
}
.row .sidemenu li a{
  display: block;
  padding: 7px 0 7px 0;
  background: #1a476e;
  color:#fff;
}
.row .sidemenu li a:hover{
  background: #02903e; 
  text-decoration: none;
}
.row .sidemenu li a.active{
  background: #02903e; 
}
.konten-list{
  padding: 20px 0 20px 0;
}
.konten-list h2, .blog-post h2{
  border-bottom:solid 1px #777;
  margin-bottom: 20px;
  color: #777;
  font-size:20pt;
}
.konten-list .items{
  border: solid 1px #ccc;
  height: 200px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  cursor:pointer;
}
.konten-list .items .judul{
  position: absolute;
  bottom: 0;
  right: 0;
  left:0;
  background: black;
  color:#fff;
  padding:5px;
  text-align:center;
}
.konten-list .items .tgl{
  position: absolute;
  right: 0;
  background: #1a476e;
  color:white;
  padding:5px;
}
.konten-list .items img{
  position: absolute;
  left:0;
  width:100%;
}

.alignleft{
  float:left;
}

.blog-post{
  padding: 20px 0 10px 0;
}
.blog-post .attachment-post-thumbnail{
  width:100%;
  height: auto;
}


.slidesjs-previous {
  position: absolute;
  left:10px;
  top:200px;
  z-index: 10000;
}

.slidesjs-next {
  position: absolute;
  right: 10px;
  top:200px;
  z-index: 10000;
}

.slidesjs-previous, .slidesjs-next {
  border:solid 1px white;
  padding:10px;
  background: white;
  border-radius: 5px;
  opacity: 0.3;
  text-decoration: none;
}
.slidesjs-previous:hover, .slidesjs-next:hover {
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
  opacity: 0.7;
}
